html
	head
		title Random Animal Facts Message Board - Make a message
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
		link(type="text/css" rel="stylesheet", href="css/style-message.css")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		nav.pink.accent-1
			div.brand-logo.center
				ul
					li.pink.accent-1
						a.grey-text.text-darken-3(href="/") Post a Random Animal Fact!
					li.pink.accent-1
						a.grey-text.text-darken-3(href="/messageboard") Look at all the Random Animal Facts!
		div.container.custom
			each item in allTheMessages
				div.box
					h3 #{item.title}
					p #{item.body}
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(type='text/javascript', src='js/materialize.min.js')
