#newMessageForm {
	margin-top: 100px;
}

@font-face {
	font-family: Podriq;
	src: url("../Podriq.otf") format("opentype");
}

body {
	font-family: Podriq;
	color: #f57f17;
	background-image: url("../img/flamingo.png");
	background-position: left 20px bottom 10px;
	background-repeat: no-repeat;
	background-size: 350px auto;
}

a {
	font-size: 20px;
}
a:hover {
	font-size: 20px;
}